@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.fullname-inline {
  display: flex;
  padding-bottom: 7px;
}

.firstName {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 35px;
  padding-right: 10px;
}

.lastName {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 35px;
}

.most-outter-wrapper {
  height: 100vh;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
}

.wrapper-holder {
  width: 60%;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
}

.student-card-wrapper {
  height: 80vh;
  overflow-y: scroll;
}

.search-wrapper {
  padding: 10px 20px 0px 10px;
}

input[type=text] {
  width: 99%;
  font-size: 20px;
  /* padding: 10px 20px; */
  font-family: 'Raleway', sans-serif;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: .5px solid #282c3425;
}

input[type=text]:focus {
  outline: none;
  border-bottom: .5px solid #282c34;
}

#student-search {
  padding: 10px 0px 10px 10px;
}

.holder {
  height: 80%;
  
}

.wrapper-student {
  /* width: 50vw; */
  padding: 20px;
  display: flex;
  align-items: flex-start;
  /* background-color: white; */
  border-bottom: .5px solid #282c3425;
}

.wrapper-inner-content {
  padding-left: 18px;
}

.img {
  width: 130px;
  border-radius: 50%;
  border: 1px solid #282c3457;
  margin-right: 40px;
}

.content {
  font-family: 'Raleway', sans-serif;
  padding: 2px 0px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
